body{
    background: #f9f9f9;
}

/* #header-div{
    display: flex;
    align-items: center; 
    justify-content: center;
} */

#top-header{
    color:#006cff
    
}

#top-header, .container-header{
    font-weight: 700;
}

#white-container{
    background: #fff;
    width: 600px
    /* background-color: red; */
}

.container-header{
    color: #505050;
}

#formurl{
    display: flex;
    justify-content: center;
    height: 3rem;
    
}

#link-input{
    width: 350px;
    border-radius: 0;
    border:1px solid #bbb;
    border-bottom-left-radius: 2px; 
    border-top-left-radius: 2px;  
    border-right:none

    
}

#shorten-btn{
    border-radius: 0px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    /* background-color: red; */
}

.container-p{
    font-size: 0.8rem;
}



footer{
    position: absolute;
    bottom:0;
    width: 100%;
    height: 50px;
    background-color: red;

    border-top: 4px solid #00a0db;
    margin-top: 40px;
    /* padding: 20px 0 121px;  */
    padding: 20px 0 50px;

    /* line-height: 50px; */

    text-align: center;
    background: #333;
    color:#eee;
}
